*
{
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Space Mono', monospace */
  /* font-family: 'DM Mono', monospace; */
  font-family: 'Cormorant Garamond', serif;

}

.navbar {
padding: 0;
font-family: 'DM Mono', monospace;
font-style: italic;
z-index:1;

}

.my-name {
  font-size: 250%;
  font-style: italic;
  font-weight: bolder;
  font-family: 'DM Mono', monospace;
}

.nav-col {
  text-align: right;
}


.nav-link {
  font-size: 80%;
  padding:0px;
  margin:0px;
  text-align: right;
}


.front-img {
  width: 50%;
  height: auto;
}

.home-title {
  font-style: italic;
  font-size: 80%;
  font-family: 'DM Mono', monospace;
}

.tidbit {
  width:250px;
}

.move {
  margin-left: 20px;
}

a {
  color: black;
  font-family: 'DM Mono', monospace;
  font-weight: bold;
  text-decoration: none;
}

.material-icons {
  font-size: var(--bs-body-font-size);
}

.row-span {
  display:flex;
  flex-direction: row;
}

footer {
  font-family: 'DM Mono', monospace;

}

.header {
  color: black;
  font-family: 'DM Mono', monospace;
  font-weight: bold;
  padding-top:3%;
}

/* home formating */
#coyote {
  position: absolute;
  right: 0px;
  top:0px;
  padding:0px;
  width: 20%;
  z-index:0;
}

#snee {
  position: absolute;
  top: 0px;
  right: 5%;
  padding:0px;
  height: 80%;
}

#snee2 {
  position: absolute;
  top: 0px;
  left: 5%;
  padding:0px;
  /* height: 120%; */
  height: 100vh; 
  width:100vw;
  object-fit:cover;
  object-position: 50% 0%; /* try 20px 10px */ 
  z-index: -5;
  display:none;
}

#snee3 {
  position: absolute;
  top: 6%;
  left: 5%;
  padding:0px;
  /* height: 120%; */
  height: 95vh; 
  width:95vw;
  object-fit:cover;
  object-position: 70% 0%; /* try 20px 10px */ 
  z-index: -5;
}

.tidbits {
  width: 80%;
  margin-left:0px;
  margin-top:4%;
}



/* info formating */
#me {
  position: relative;
  left: 0px;
  padding:0px;
}

.about-blurb {
  /* position: absolute;
  top: 30%;
  right: 5%;*/
  /* width: 80%;  */
  font-family: 'DM Mono', monospace;
  font-family: 'Cormorant Garamond', serif;
  width: 90%;
  margin: auto;
  /* font-size: 80%; */
}

#santa-cruz {
  position: absolute;
  top: 0px;
  right: 10%;
  padding:0px;
  z-index: -5;
  width:50%;
  height: 100vh; 
  object-fit:cover;
  object-position: .5vh 0px;

}

/* writing */
h2 {
  font-family: 'DM Mono', monospace;
}

.writing-details {
  font-family: 'DM Mono', monospace;
  font-size: 50%;
}

.writing {
width: 60%;
margin:auto;
}

.writing-entry {
  font-family: 'Cormorant Garamond', serif;
  font-size: 80%;
}

.inline-a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  color: navy;
  text-decoration: underline;
}

.featured-img {
  border-radius: 5%;
  width: 50%;
}

.featured-img:hover {
  border: solid 1px white;
}

#latest-work {
  /* margin-top: 90%;; */
  position: absolute;
  bottom: 18%;
}

.empty-container {
  height:55vh;
}

.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  width: 500px;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 39px;
  height: 60px;
  padding: 0px 0px;
  overflow: hidden;
}

.row-space {
  margin-right: 20px;
}

.toggle-btn{
  color: black;
  background-color: white;
  border-radius: 0px;
  border: none;
text-decoration: none;
/* padding-bottom: 0px; */
}

.toggle-btn:hover {
  color: black;
}

.article-a {
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: -1px;

}

.see-more p {
  margin-right: 20px;
}

/* a:hover {
  background-color: seagreen;
} */