*
{
  margin: 0;
  padding: 0;
}



body {
  /* font-family: 'Space Mono', monospace */
  /* font-family: 'DM Mono', monospace; */
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Helvetica', monospace;
  font-weight: 200;
  max-width: 100%;
  max-height: 100%;
  margin-top: 2%;



  /* font-family: 'Cormorant Garamond', serif; */
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */

}

.center-vert {
  margin-top: 20%
}

b {
  font-weight: 500;
}

#writing, #info{
  min-height: 75vh;
}

.section {
  min-height: 80vh;
}

a {
  color: black;
  font-family: 'DM Mono', monospace;
  /* font-size: 80%; */
  font-weight: bold;
  text-decoration: none;
}

.navbar {
padding: 0;
font-family: 'Helvetica', monospace;
font-style: italic;
z-index:1;
padding:0px;

/* margin-top: 10px; */

}

.my-name {
  font-size: 150%;
  font-style: italic;
  font-weight: 800;
  font-family: 'DM Mono', monospace;
  padding:0px;
  height:25px;

}

.nav-col {
  text-align: right;
}


.nav-link {
  font-size: 70%;
  padding:0px;
  margin:0px;
  text-align: right;
  font-family: 'Helvetica', monospace;
  font-weight: 400

}


.front-img {
  width: 50%;
  height: auto;
}

.home-title {
  font-style: italic;
  font-size: 80%;
  font-family: 'DM Mono', monospace;
}

.tidbit {
  width:250px;
  font-family: 'Cormorant Garamond', serif;
  margin-top:15%;
}

.move {
  margin-left: 20px;
}



.material-icons {
  font-size: var(--bs-body-font-size);
}

.row-span {
  display:flex;
  flex-direction: row;
}

footer {
  font-family: 'DM Mono', monospace;
  font-size: 70%;
  /* position: absolute; */
  bottom: 2.5rem;
  width: 100%;
  height: 2.5rem;  
  font-weight: 200;
  color:gray;
}

.caption {
  font-size: 80%;
  color: gray;
}


.header {
  color: black;
  font-family: 'DM Mono', monospace;
  font-weight: bold;
  padding-top:3%;
  font-size: larger;
}

/* home formating */
#coyote {
  position: absolute;
  right: 0px;
  top:0px;
  padding:0px;
  width: 20%;
  z-index:0;
}

#snee {
  position: absolute;
  top: 0px;
  right: 5%;
  padding:0px;
  height: 80%;
}

#snee2 {
  position: absolute;
  top: 0px;
  left: 5%;
  padding:0px;
  /* height: 120%; */
  height: 100vh; 
  width:100vw;
  object-fit:cover;
  object-position: 50% 0%; /* try 20px 10px */ 
  z-index: -5;
  display:none;
}

#snee3 {
  position: absolute;
  top: 5%;
  left: 5%;
  padding:0px;
  /* height: 120%; */
  height: 95vh; 
  width:95vw;
  object-fit:cover;
  object-position: 70% 0%; /* try 20px 10px */ 
  z-index: -5;
}

.tidbits {
  width: 80%;
  margin-left:0px;
  /* margin-top:4%; */
}



/* info formating */

#info {
  margin-top: 3%;
}
#me {
  /* position: relative;
  left: 0px;
  padding:0px; */
  /* height: 100%;
  margin:auto; */
  vertical-align: middle;
}



.about-blurb {
  /* position: absolute;
  top: 30%;
  right: 5%;*/
  /* width: 80%;  */
  font-family: 'Helvetica', monospace;
  /* font-family: 'Cormorant Garamond', serif; */
  width: 80%;
  margin: auto;
  /* font-size: 90%; */
  font-weight:300;
  font-size: 90%;
}

#about-me {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Helvetica', monospace; */
    font-family: 'DM Mono', monospace;

font-size: 110%;
letter-spacing: -.5px;


}

#santa-cruz {
  position: absolute;
  top: 0px;
  right: 10%;
  padding:0px;
  z-index: -5;
  width:50%;
  height: 100vh; 
  object-fit:cover;
  object-position: .5vh 0px;

}

/* writing */
h2 {
  font-family: 'Helvetica', monospace;
  font-weight:200;
}

.writing-details {
  font-family: 'DM Mono', monospace;
  font-size: 50%;
}

.writing {
width: 50%;
margin:auto;
}

.projects {
  width: 80%;
  margin:auto;
  }
  

.container-med {
  width: 80%;
margin:auto;

}

/* #writing {
  width: 65%;
margin:auto;
} */

.writing-entry {
  font-family: 'Cormorant Garamond', serif;
  font-size: 80%;
}

.inline-a {
  font-family: 'DM Mono', monospace;
  font-weight: 600;
}

.small-a {
  font-size: 80%;
}

.featured-img {
  border-radius: 5%;
  width: 50%;
}

.featured-img:hover {
  border: solid 1px white;
}

/* #latest-work {
  margin-top: 90%;;
  position: absolute;
  bottom: 18%;
} */

.empty-container {
  height:50vh;
}

.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  width: 500px;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 39px;
  height: 60px;
  padding: 0px 0px;
  overflow: hidden;
}

.row-space {
  margin-right: 20px;
}

.article-a {
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.see-more p {
  margin-right: 20px;
}

.half {
  width:50%;
}

a:hover {
  /* text-decoration: underline; */
  color:gray;
}

.sun-article {
  font-size: 90%;
}

h3{
  font-family: 'Helvetica', monospace;
  font-weight: 200;
  font-size: 200%;
}

.index h3{
  font-family: 'Helvetica', monospace;
  font-weight: 200;
  font-size: 150%;
}

h2 {
  margin-bottom: 2%;
}

.details {
  font-family: 'Helvetica', monospace;
  font-weight: 200;
  font-size: 120%;
}

.thumbnail {
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left{
  float:left;
}
#right{
  float:right;
}

/* courtesy of https://blog.hubspot.com/website/css-fade-in */

.fade-in-text {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.fade-in-text1 {
  animation: fadeIn linear .75s;
  -webkit-animation: fadeIn linear .75s;
  -moz-animation: fadeIn linear .75s;
  -o-animation: fadeIn linear .75s;
  -ms-animation: fadeIn linear .75s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in-text2 {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in-text3 {
  animation: fadeIn linear 5s;
  -webkit-animation: fadeIn linear 5s;
  -moz-animation: fadeIn linear 5s;
  -o-animation: fadeIn linear 5s;
  -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* .oval {
  width: 10px;
  height: 8px;
  border-radius: 40px;
  border: solid white;
} */

.back-img {
  width:100%;
  height: 95vh;
  background-image: url("snee.jpeg");
  background-position: center center;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-size: cover;
  /* display: inline-block; */
}

.proto {
  display: inline;
vertical-align: middle;
}

.entry-details {
  margin-left: 10%;
  font-size: 80%;
}

.spacing {
  margin-top: 5%;
}

.oval {
  /* width:100%; */
  /* height: 95vh; */
  background-image: url("oval.png");
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  z-index: 1;
}

.toggle-btn{
  color: black;
  background-color: white;
  border-radius: 0px;
  border: none;
text-decoration: none;
/* padding-bottom: 0px; */
}

.btn {
  background-color: white;

}

.toggle-btn:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

button {
  background-color: white;
}

.new-intro {
  margin-top: 50px;
}

.new-intro h1 {
  font-family: 'DM Mono', monospace;
  font-size: 100%;
  font-style: italic; 
  font-weight: 1000;
  margin-top:30px;
}

.new-intro a {
  font-family: 'Helvetica', monospace;
  font-weight: 200;
  /* text-decoration: underline dotted orangered; */
  /* color:orangered; */
}

.new-intro a:hover {
  /* text-decoration: underline gray dotted; */
}

.intro-text {
  font-size: 140%;
  /* font-weight:normal; */
}

.new-intro ul {
  list-style: none; /* Remove default bullets */
}


.musings {
  /* margin-top:150px; */
  font-size: 120%;
}

.intro-sup {
  font-style: italic;
  font-size: 50%;
  font-family: 'DM Mono', monospace;
  /* color: orangered; */
  text-transform:uppercase;
  vertical-align: middle;
  color:gray;
}

.nav-name {
  font-size: 150%;
  font-style: italic;
  font-weight: 800;
  font-family: 'DM Mono', monospace;
  padding:0px;
  height:25px;
}


.intro-text .intro-sup {
  font-size: 40%;
}

.nav-name .intro-sup {
  font-size: 40%;

}

.title-detail {
  color: darkslategrey;
  font-size: 80%;
}

.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-image {
  visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}

.hover-image {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 50%;

/* Change width and height to scale images */
  width: 90vw;
  height: 90vh;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}

.other-work {
  font-size: 80%;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
}
.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
  margin-right: 3px;
}

/* .intro-text-details {
  font-size: 70%;
} */

.photo-gallery img {
  width:200px;
}

.photo-gallery div {
  margin-bottom: 10px;
}






